.evaluate-content-wrap{
    background: #fff;
}
.evaluate-header-wrap{
    padding: 1rem 0.6rem 0.6rem 0.6rem;
}
.evaluate-header-left{
    float: left;
}
.evaluate-header-right{
    float: left;
    margin-left: 0.3rem;
    margin-top: 0.4rem;
}
.cus-wrap .cus-button-sure{
    background: #ff731e !important;
}
.evaluate-header-left img{
    width: 2rem;
    border: 1px solid #ccc;
}
.evaluate-header-right label{
    margin:0.8rem;
}
.a-radio{
    display: none;
}
.b-radio{
    display: inline-block;
    width:1.3rem;
    height: 1.3rem;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    background: url(../images/common1.png) no-repeat;
}
.b-radio1{
    background: url(../images/common1.png) no-repeat;
    background-size: 1.3rem;
}
.b-radio2{
    background: url(../images/common3.png) no-repeat;
    background-size: 1.3rem;
}
.b-radio3{
    background: url(../images/common4.png) no-repeat;
    background-size: 1.3rem;
}
.b-radio41{
    display: inline-block;
    width:0.8rem;
    height: 0.8rem;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}
.b-radio4{
    width: 0.8rem;
    height: 0.8rem;
    background: url(../images/common1111.png) no-repeat;
    background-size: 0.8rem;
}
.b-radio:before{
    content: '';
    font-size: 0;
    width:1.3rem;
    height: 1.3rem;
    position: absolute;
    border-radius: 2px;
    display: none;
}
.b-radio1:before{
    background: url(../images/common2.png) no-repeat;
    background-size: 1.3rem;
}
.b-radio2:before{
    background: url(../images/common31.png) no-repeat;
    background-size: 1.3rem;
}
.b-radio3:before{
    background: url(../images/common41.png) no-repeat;
    background-size: 1.3rem;
}
.b-radio4:before{
    background: url(../images/common1112.png) no-repeat;
    background-size: 0.8rem;
}
.a-radio:checked~.b-radio:before{
    display: block;
}
.a-radio:checked~.b-radio41:before{
    display: block;
}
.a-radio:checked~.b-radio111{
    color: #131313;
}
.b-radio111{
    color: #ccc;
    font-size: 0.8rem;
    vertical-align: middle;
}
.evaluate-textarea-wrap{
    padding: 0 0.6rem;
}
.evaluate-textarea{
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 6px;
    font-size: 0.7rem;

}
.evaluate-photo-wrap{
    padding: 0rem 0.4rem;
}
.evaluate-photo-wrap ul{
    padding: 0;
    margin-top: 0.2rem
}
.evaluate-photo-wrap ul li .evaluate-up-photo{
    width: 3rem;
    height: 2.9rem;
}
.evaluate-photo-wrap ul li{
    list-style: none;
    display: inline-block;
}
.evaluate-photo-wrap ul li img.evaluate-photo-up-img{
    width: 3rem;
    height: 2.9rem;
}
.evaluate-up-photo-clear{
    position: absolute;
    top: -10px;
    right: -3px;
}
.evaluate-photo-wrap ul li img.evaluate-photo-img{
    position: absolute;
    left: 0;
    top: 2px;
    width: 3.5rem;
    height: 3.5rem;
}
.evaluate-photo{
    width: 3.5rem;
    height: 3.5rem;
}
.evaluate-photo-wrap input.evaluate-up-file {
    width: 3.5rem;
    height: 3.5rem;
    padding: 0.2rem;
    position: absolute;
    right: 0;
    top: 2px;
    z-index: 1000;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    margin-left: -3.6rem;
}
.evaluate-up-photo-clear img{
    width: 0.8rem;
}
.b-radio-footer{
    display: inline-block;
    width:1rem;
    height: 1rem;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.evaluate-footer-wrap{
    display: flex;
    padding: 0 0.6rem 0.6rem 0.6rem;
    justify-content: space-between;
}
.evaluate-footer-right p{
    font-size: 13px;
    color: #999999;
    line-height:26px;
}
.evaluate-up-photo-ul{
    display: inline-block;
}
.evaluate-up-photo-li{
    margin-right: 0.5rem;
}
.evaluate-photo-icon-ul{
    display: inline-block;
}
@media only screen and (max-width: 320px){
    .evaluate-header-right label{
        margin:0.4rem;
    }
}