@charset "utf-8";
/* CSS Document */
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a img, input, button, textarea {
    border: none;
}

.pt0{
    padding-top:0 !important;
}

input, button, textarea {
    display: inline-block;
    font: menu;
    font-size: 0.14rem;
}

input[type="submit"], input[type="button"] {
    -webkit-appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

img {
    max-width: 100%;
}

/* Link Style */
a {
    text-decoration: none;
}

/* Body Style */
body {
    background: #f6f6f6;
    margin: 0px;
}

.white1 {
    color: #ffffff;
    font-size: 20px;
    font-family: "微软雅黑";
    margin-top: 15px
}

/*滚动头部关闭按钮样式*/
.cus-close {
    position: relative;
    display: inline-block;
    width: 0.7rem;
    height: 0.7rem;
    overflow: hidden;
    vertical-align: middle;
}

.cus-close.cus-thick::before, .cus-close.cus-thick::after {
    height: 1px;
    margin-top: -2px;
}

.cus-close::before, .cus-close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #ff8b14;
}

.cus-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cus-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.marquee-text{
    height:2rem;
    line-height:2rem;
    float:left;
}

.close-btn-style{
    position: absolute;
    width: 2rem;
    top: 0;
    right: 0;
    line-height: 2rem;
    text-align: center;
    background-color: #FFF391;
}
.cus-bar{
    position: relative;
    width:100%;
    height:2rem;
    margin:0;
    top: 0;
    background-color: #FFF391;
    color: #ff731e;
    font-size: 0.75rem;
    padding-left: 0.5rem;
}
/*列表*/
.sel-1 {
    width: 40%;
    padding-left: 0.6rem;
    float: left;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1rem;
    border-left: 1px solid #e6e6e6;
}
.sel-1 p{
    margin: 0 !important;
}
.msg-title{
    font-size: 0.75rem;
    font-weight: bold;
    color: #2e48a6;
    position: relative;
}
.msg-title span.msg-title-span{
    display: inline-block;
    margin-right: 0.2rem;
    font-size: 0.9rem;
}

@media screen and (max-width: 320px) {

    .msg-title span.msg-title-span{
        font-size: 0.8rem;
    }
}
.msg-title span.cus-msg-flag{
    font-size: 0.5rem;
    font-weight: normal;
    padding: 0 2px;
    border-radius: 3px;
    margin-left: 0.2rem;
    position: relative;
    top: -2px;
}
.msg-title span.msg-flag-green{
    background: #ecfcf7;
    border: 1px solid #3be1ac;
    color: #3be1ac;
}
.msg-title span.msg-flag-blue{
    background: #edfafd;
    border: 1px solid #71c5e9;
    color: #71c5e9;
}
.msg-number{
    color: #666;
    font-size: 0.6rem;
}
.msg-number span{
    color: #b1b1b1;
    padding-right: 0.7rem;
}
.msg-flag{
    display: inline-block;
    font-size: 0.5rem;
    border: 1px solid #ff731e;
    border-radius: 2px;
    padding: 0 2px;
    color: #ff731e;
}
.msg-flag i{
    font-style:normal;
}
.msg-flag-back{
    padding-left: 0;
}
.msg-flag i.back-text{
    background: #ff731e;
    color: #fff;
    display: inline-block;
    padding-right: 2px;
    padding-left: 2px;
}
.msg-flag i.back-pre{
    display: inline-block;
    margin-left: 2px;
}
.cus-price{
    margin-top: 4px;
}
.cus-box-wrap{
    width: 100%;
    padding: 0.5rem;
}
.cus-box {
    position: relative;
    border-radius: 5px;
    background-color: #fff;
    height: 5rem;
}

img.dajian {
    position: absolute;
    left: 0px;
    width: 60px;
    height: 14px;
}

.cus-back-wrap{
    margin-top: -6px;
}

.select1 {
    display: block;
    width: 96%;
    height: 120px;
    background-color: #FFF;
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px solid #fff;
}

.logo {
    width: 4.5rem;
    padding-left: 0.4rem;
    float: left;
}
.logo img{
    width: 4rem;
    height: 4rem;
    margin-top:0.5rem;
}
@media screen and (max-width: 320px) {
    .logo {
        width: 3rem;
    }
    .logo img{
        width: 2.6rem;
        height: 2.6rem;
        margin-top: 1.2rem;
    }
}
.logo img {
    padding-right: 0.3rem;
}

.line1 {
    width: 2%;
    height: 100px;
    border-left: #f5f5f5 1px solid;
    margin-left: 100px;
    margin-top: -110px;
}

.s-txt1 {
    font-size: 16px;
    color: #2e48a6;
    font-weight: 800;
}

.s-txt2 {
    margin-left: 10px;
}

.size1 {
    margin-left: 0px;
    color: #000000;
    line-height: 25px;
    font-size: 13px
}

.s-txt3 {
    line-height: 20px;
    font-size: 14px;
    padding-bottom: -10px
}

.sel-2 {
    width: 6rem;
    float: right;
}

.t-1 img{
    width: 0.9rem;
    height: 1.7rem;
}

.t-1 {
    float: right;
    clear: both;
    color: #ff731e;
    padding-right: 0.3rem;
}

.t-txt1 {
    font-size: 0.6rem;
    margin-right: -5px;
}

.t-txt2 {
    font-size: 1rem;
}

.t-txt3 {
    font-size: 0.8rem;
    margin-left: -5px;
}

.t-txt4 {
    margin-left: 70px;
}

.select2 {
    display: block;
    width: 96%;
    height: 120px;
    background-color: #FFF;
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #fff;
}

.so {
    margin-left: -80px;
}

.select3 {
    display: block;
    width: 96%;
    height: 120px;
    background-color: #FFF;
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #fff;
}

.so1 {
    margin-left: -80px;
}

.select4 {
    display: block;
    width: 96%;
    height: 120px;
    background-color: #FFF;
    border-radius: 0.2rem;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid #fff;
}

.so2 {
    margin-left: -80px;
}

